<div>
  <h1> Product name: <%= order_item.product_name %> </h1>
  <h2> Price: <%= order_item.product_price %> </h2>
  <h3> Quantity: <%= order_item.quantity %> </h3>
  <div style="display: flex; flex-direction: column-reverse;">
  </div>
</div>
<hr />